*{
    background-color:#333333;
    
}
button{
    border-radius: 300pt;
   background-color: #d1d1d1 ;
   font-size: xx-large;
   color: #333333;

}
.main{
    width: 200px;
    border-radius: 25px;
    margin: 150px auto;
    padding: 50px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}
.group1{
    margin-bottom: 10px;
   
}
.group2{
    margin-bottom:10px;
}
.group3{
    margin-bottom:10px;
    
}
.group4{
    margin-left: 40px;
}
.display{
    margin-bottom: 10px;
    width: 180px;
    height:27px;
    text-align: right;
    border-radius: 40px;
    color: black;
    background-color: #d1d1d1 ;
    font-size: 20px;
}